@charset "UTF-8";
/*==========================================================================
# reset - ブラウザの差異や不要なスタイルを無くすためのスタイル
========================================================================== */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, div, span, img, a, table, tr, th, td, small, button, time, figure {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

li, dd {
  list-style-type: none;
}

header, footer, nav, section, article, aside, figure, figcaption {
  display: block;
}

img {
  border: none;
  vertical-align: bottom;
}

a {
  cursor: pointer;
  text-decoration: none;
}

body {
  font-size: 15px;
  font-family: Montserrat, "ヒラギノ角ゴシック", sans-serif;
}

.section-title {
  font-size: 36px;
  font-weight: bold;
  color: #391E88;
  letter-spacing: 1.5px;
}

.section-text {
  font-size: 14px;
  font-weight: bold;
  color: #391E88;
  letter-spacing: 1.5px;
  margin-top: 5px;
}

.util-btn a {
  display: inline-block;
  background: -webkit-gradient(linear, left top, right top, from(#7633a4), to(#391E88));
  background: linear-gradient(to right, #7633a4, #391E88);
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  padding: 21px 77px;
  border-radius: 50px;
}
