@charset "utf-8";

$font-color: #333333;
$accent-color: #391E88;

$breakpoints: (
  "sp": "screen and (max-width: 767px)",
  "pc": "screen and (min-width: 768px)",
);

@mixin mq($breakpoint: sp) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}


@include mq(sp) {
  .is-pc {
    display: none;
  }
}

@include mq(pc) {
  .is-sp {
    display: none;
  }
}



/*==========================================================================
# reset - ブラウザの差異や不要なスタイルを無くすためのスタイル
========================================================================== */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, div, span, img, a, table, tr, th, td, small, button, time, figure {
  border: 0;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

li, dd {
  list-style-type: none;
}

header, footer, nav, section, article, aside, figure, figcaption {
  display: block;
}

img {
  border: none;
  vertical-align: bottom;
  max-width: 100%;
}

a {
  cursor: pointer;
  text-decoration: none;
}

body {
  font-size: 15px;
  font-family: Montserrat, "ヒラギノ角ゴシック", sans-serif;
  letter-spacing: 1.05px;
}

.section-title {
  font-size: 36px;
  font-weight: bold;
  color: $accent-color;

  @include mq(sp) {
    font-size: 30px;
  }
}

.section-text {
  font-size: 14px;
  font-weight: bold;
  color: $accent-color;
  letter-spacing: 1.5px;
  margin-top: 5px;

  @include mq(sp) {
    font-size: 13px;
  }
}

.util-btn {
  a {
    display: inline-block;
    background: linear-gradient(to right, rgb(118, 51, 164), $accent-color);
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    padding: 21px 77px;
    border-radius: 50px;
    margin-top: 30px;
  }
}

// drawer
.drawer-icon {
  display: none;
  position: fixed;
  right: 15px;
  top: 10px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease 0s;
  background: transparent;
  box-shadow: none;
  border: none;
  padding: 0;
  width: 44px;
  height: 44px;

  @include mq(sp) {
    display: block;
  }
}

.drawer-bars {
  display: inline-block;
  width: 31px;
  height: 20px;
  position: relative;
  vertical-align: bottom;
}

.drawer-bar {
  position: absolute;
  right: 0;
  left: 0;
  display: block;
  background: #fff;
  width: 100%;
  height: 2px;
  border-radius: 0;
  transition: all 0.5s linear 0s;

  &:nth-child(0) {
    top: 0;
  }

  &:nth-child(2) {
    top: 7px;
  }

  &:nth-child(3) {
    top: 14px;
  }
}




// header
.header {
  display: flex;
  align-items: center;
  padding: 30px;
  color: #fff;
  position: fixed;
  width: 100%;
  z-index: 999;

  @include mq(sp) {
    padding: 22px 15px;
  }
}

.header-logo {
  a {
    display: block;
    font-size: 19px;
    font-weight: bold;
    color: inherit;
  }
}

.header-nav {
  margin-left: auto;
}

.header-nav-list {
  display: flex;

  li {
    &:not(:first-child) {
      margin-left: 25px;
    }

    a {
      display: block;
      color: inherit;
    }
  }
}

// top
.top {
  background: url(../img/top.jpg) no-repeat center center / cover;
  height: 100vh;
  position: relative;
  top: 0;
  color: #fff;
  text-align: center;
}

.top-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  
  @include mq(sp) {
    padding-left: 50px;
    text-align-last: left;
  }
}

.top-title {
  font-size: 72px;
  font-weight: bold;
  line-height: 1.25;

  @include mq(sp) {
    font-size: 48px;
    
  }
}

.top-text {
  margin: 22px 0 0;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 2px;

  @include mq(sp) {
    font-size: 16px;
    line-height: 1.8125;
  }
}

.top-btn {
  margin-top: 49px;

  a {
    display: inline-block;
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
    font-size: 15px;
    font-weight: bold;
    padding: 21px 70px;
    border-radius: 50px;
  }
}


// news
.news {
  margin: auto;
  margin-top: 70px;
  color: #333;
  padding: 0 20px;
  
  @include mq(pc) {
    display: flex;
    width: 917px;
    max-width: 100%;
  }
}

.news-title-box {
  @include mq(pc) {
    flex: 0 0 170px;
  }
}

.news-title {
  font-size: 36px;
  font-weight: bold;
  color: $accent-color;
  
  @include mq(sp) {
    font-size: 30px;
    text-align: center;
  }
}

.news-title-text {
  margin-top: 5px;
  color: $accent-color;
  font-size: 13px;
  font-weight: bold;

  @include mq(sp) {
    text-align: center;
  }
}

.news-text {
  font-size: 13px;
  color: $accent-color;
  margin-top: 5px;

  @include mq(sp) {
    text-align: center;
  }
}

.news-list {
  @include mq(pc) {
    flex: 0 1 100%;
  }

  @include mq(sp) {
    margin-top: 32px;
  }

  li {
    &:not(:first-child) {
      margin-top: 15px;

      @include mq(sp) {
        margin-top: 40px;
      }
    }
  }
}

.news-item {
  @include mq(pc) {
    display: flex;
    align-items: center;
  }
  color: #333;
}

.news-meta {
  display: flex;
  align-items: center;
}

.news-date {
  letter-spacing: 1.5px;
}

.news-tag {
  font-size: 12px;
  font-weight: bold;
  background: #E8E8E8;
  border-radius: 50px;
  width: 82px;
  padding:  5px 0;
  text-align: center;
  margin-left: 20px;

  @include mq(sp) {
    margin-left: 15px;
  }
}

.news-text {
  color: #333;
  letter-spacing: 1.5px;
  margin: 0 0 0 20px;
  line-height: 1.928571;

  @include mq(sp) {
    margin: 10px 0 0 0;
    text-align-last: left;
  }
}

// service
.service {
  margin-top: 80px;
  
  @include mq(pc) {
    margin: 140px auto 0;
    width: 1110px;
    max-width: 100%;
  }
}

.section-service {
  text-align: center;
}

.service-content {
  margin-top: 30px;
}

.service-list {
  padding: 0 20px;
  box-sizing: content-box;

  @include mq(pc) {
    display: flex;
  }
}

.service-item {
  @include mq(pc) {
    flex: 0 1 350px;
    &:not(:first-child) {
      margin-left: 30px;
    }
  }

  @include mq(sp) {
    &:not(:first-child) {
      margin-top: 40px;
    }
  }

  img {
    width: 100%;
  }

  .service-title {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-top: 24px;

    @include mq(sp) {
      margin-top: 14px;
    }
  }

  .service-text {
    line-height: 1.8;
    margin-top: 17px;

    @include mq(sp) {
      margin-top: 10px;
    }
  }
}

.service-btn {
  text-align: center;

  @include mq(sp) {
    display: none;
  }
}


// works
.works {
  margin-top: 140px;
  position: relative;

  @include mq(sp) {
    margin-top: 300px;
  }
}

.work-slider {
  position: absolute;
  z-index: 100;

  @include mq(pc) {
    width: 52.083333%;
    top: 60px;
    left: 6.180555%;
  }

  @include mq(sp) {
    width: 89.333333%;
    left: 50%;
    transform: translateX(-50%);
    // top: -26.744186%;
    bottom: 73.023255%;
  }
}

.work-box {
  background: #F0F0F0;
  position: relative;

  @include mq(pc) {
    width: 57.916666%;
    height: 651px;
    margin-left: auto;
    right: 6.180555%;
  }

  @include mq(sp) {
    width: 100%;
    height: 430px;
    text-align: center;
  }
}

.work-content {
  position: absolute;
  text-align: center;
  
  @include mq(pc) {
    width: 51.373954%;
    top: 213px;
    left: 41.338112%;
    padding-right: 10px;
  }

  @include mq(sp) {
    width: 89.333333%;
    left: 50%;
    transform: translateX(-50%);
    top: 36.279069%;
  }
}

.work-text {
  margin-top: 30px;
  line-height: 1.8;

  @include mq(sp) {
    font-size: 14px;
  }
}


// company
.company {
  margin: auto;
  width: 1300px;
  max-width: 100%;
  
  @include mq(pc) {
    padding: 0 15px;
  }
}

.company-box {
  @include mq(pc) {
    background: url(../img/bg-circle.png) no-repeat center / 864px, url(../img/company-bg.jpg) no-repeat center / contain ;
  }

  @include mq(sp) {
    background: url(../img/bg-circle.png) no-repeat center / contain;
  }

  height: 100vh;
  position: relative;
}

.company-content {
  position: absolute;
  width: 78.666666%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.company-title {
  font-size: 40px;
  font-weight: bold;
  margin-top: 40px;
  line-height: 1.5;
  // position: relative;
  
  // &::before {
  //   position: absolute;
  //   content: "";
  //   display: inline-block;
  //   top: 34px;
  //   right: -11px;
  //   left: -11px;
  //   height: 12px;
  //   background: #F5F534;
  //   z-index: -1;
  // }
}

.company-text {
  line-height: 1.8;
  margin-top: 40px;
}


// recruit
.recruit {
  @include mq(pc) {
    width: 1110px;
    max-width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row-reverse;
  }
}

.section-recruit {
  background: #F7F7F7;
  text-align: center;
  position: relative;

  @include mq(pc) {
    width: 40.454545%;
  }

  @include mq(sp) {
    height: 300px;
  }
}

.recruit-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
}

.recruit-text {
  margin-top: 30px;

  @include mq(sp) {
    font-size: 14px;
  }
}

.recruit-picture {
  @include mq(pc) {
    width: 60.454545%;
  }

  @include mq(sp) {
    img {
      width: 100%;
    }
  }
}

// contact
.contact {
  background: #F7F7F7;
  margin-top: 100px;
  text-align: center;
  padding: 80px 0;

  @include mq(sp) {
    margin-top: 80px;
  }
}

.contact-text {
  margin-top: 35px;

  @include mq(sp) {
    width: 78.933333%;
    margin: 30px auto 0;
    font-size: 14px;
  }
}