@charset "utf-8";

$font-color: #333333;
$accent-color: #391E88;
$layout-width-inner: 1300px;

$breakpoints: (
  "sp": "screen and (max-width: 767px)",
  "tab": "screen and (max-width: #{$layout-width-inner - 1px})",
  "pc": "screen and (min-width: #{$layout-width-inner})",
);

/*==========================================================================
# reset - ブラウザの差異や不要なスタイルを無くすためのスタイル
========================================================================== */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, div, span, img, a, table, tr, th, td, small, button, time, figure {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

li, dd {
  list-style-type: none;
}

header, footer, nav, section, article, aside, figure, figcaption {
  display: block;
}

img {
  border: none;
  vertical-align: bottom;
}

a {
  cursor: pointer;
  text-decoration: none;
}

body {
  font-size: 15px;
  font-family: Montserrat, "ヒラギノ角ゴシック", sans-serif;
}

.section-title {
  font-size: 36px;
  font-weight: bold;
  color: $accent-color;
  letter-spacing: 1.5px;
}

.section-text {
  font-size: 14px;
  font-weight: bold;
  color: $accent-color;
  letter-spacing: 1.5px;
  margin-top: 5px;
}

.util-btn {
  a {
    display: inline-block;
    background: linear-gradient(to right, rgb(118, 51, 164), $accent-color);
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    padding: 21px 77px;
    border-radius: 50px;

  }
}

.inner {
  max-width: $layout-width-inner;
  margin: 0 auto;
  padding: 0 40px;
  box-sizing: content-box;
}


// header
.header {
  display: flex;
  padding: 30px;
  color: #fff;
}

.header-logo {
  a {
    display: block;
    font-size: 19px;
    font-weight: bold;
    color: inherit;
  }
}

.header-nav {
  margin-left: auto;
}

.header-nav-list {
  display: flex;

  li {
    &:not(:first-child) {
      margin-left: 25px;
    }
    
    a {
      display: block;
      color: inherit;
    }
  }
}